.img-res {
    max-width: 100%;
}
.main-sidebar .sidebar-brand {
    height: auto;
    padding: 12px;
}
.main-sidebar .sidebar-brand a {
    max-width: 155px;
    display: inline-block;
}
.table_action_box {
    display: flex;
    gap: 8px;
}
.add_box_cover {
    display: flex;
    justify-content: end;
    margin-bottom: 15px;
}
.full_th_box {
    width: 100%;
}